[flake8]
ignore = E731, E741, W504, W503, E126,E125, E402, E266, E501, W605, E123
max-line-length = 79
show-source = False
application-import-names = rlzero
exclude =
    .git
    docs/
    venv
    build
